.link-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.link-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: gray; /* Tailwind red-600 */
  transform: scaleX(0);
  transform-origin: left; /* starts from left */
  transition: transform 0.3s ease-in-out;
}

.link-underline:hover::after,
.link-underline:focus::after {
  transform: scaleX(1); /* expands fully left to right */
}
