@import "tailwindcss";

*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: gray; 
  border-radius: 2px;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f97316, #dc2626); /* orange → red */
  border-radius: 2px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #dc2626, #b91c1c);
}
